@import '../../styles/variables';

.pagination {
    display: flex;
    justify-content: center;

    &--hidden {
        display: none;
    }

    &__button {
        $size: 5.5rem;

        padding: 0;
        border-radius: 50%;
        width: $size;
        height: $size;
        outline: 0;

        &:not(:last-child) {
            margin-right: $m-xs;
        }

        &--active {
            background-color: $light-clr-100;
            border: 0.1rem solid $tertiary-clr-500;
            color: $default-clr;
            cursor: default;

            &:hover {
                color: $default-clr;
                background-color: $light-clr-100;
            }
        }
    }
}
