@import '../../styles/variables';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    padding: $p-sm;
    background-color: $light-clr-100;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
    }

    &__button {
        margin-right: $m-sm;
    }
}
